.card {
    max-width: 400px;
    margin-left: 90px;
    margin-top: 30px;
    background-color: lightgray;
    }
button{
    background-color: white;
}
.title{
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.image{
    max-width: 400px;
}
.nft{
    display: inline-block;
    top: 0;
}

