<h1 class="title">Vos NFT</h1>
<div *ngFor="let oeuvres of oeuvre" class="nft">
  <mat-card class="card" *ngIf="oeuvres.afficher">
    <mat-card-content>
      <audio controls *ngIf="oeuvres.type=='son'">
        <source src="../assets/{{oeuvres.valeur}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <img *ngIf="oeuvres.type=='img'" src="../assets/{{oeuvres.valeur}}" class="image">
      <p *ngIf="oeuvres.type=='txt'">{{oeuvres.valeur}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">Proposer a la vente</button>
    </mat-card-actions>
  </mat-card>
</div>